#displaying_flag_div {

	text-align: center;
	width: 100px;
}

.weather_tab{

	float: left;
	margin-left: 10px;
}

.weather_image_displayer {

	text-align: center;
	width: 100px;
}

.error_image_displayer {

	margin-bottom: 27px;
}

.error_div {

	float: left;
	margin-left: 10px;
	margin-top: 20px;
}

#choosen_pressure_unit_form {

	margin-top: 18px;
}