#displaying_flag_div {

	text-align: center;
	width: 100px;
}

.weather_tab{

	float: left;
	margin-left: 10px;
}

.main_image_displayer {

	float: left;
	text-align: center;
	width: 100px;
}

.weather_image_displayer {

	text-align: center;
	width: 100px;
}

.error_image_displayer {

	margin-bottom: 27px;
}

.error_div {

	float: left;
	margin-left: 10px;
	margin-top: 20px;
}

.node_world_server_form {

	margin-top: 18px;
}